#calendar {
    max-height: calc(100vh - 13rem);

    button.btn-primary {
        color: var(--bs-white);
    }

    @media (max-width: 700px) {
        font-size: 0.75em;

        div.fc-header-toolbar.fc-toolbar {
            div.fc-toolbar-chunk {
                button {
                    font-size:12px;
                }
            }
        }
    }
}

.calendar-contextmenu {
    z-index: 10000; // required for small viewport: fullcalendar renders dropdown

    li {
        cursor: pointer;
        white-space: nowrap;
    }
}