#calendar {
    button.btn-primary {
        color: var(--bs-white);
    }

    @media (max-width: 700px) {
        font-size: 0.75em;

        div.fc-header-toolbar.fc-toolbar {
            div.fc-toolbar-chunk {
                button {
                    font-size:12px;
                }
            }
        }
    }
}

.calendar-contextmenu li {
    cursor: pointer;
}