*.egg-info
*.pyc
*.pyo
.coverage
.python-version
/.mxmake/
/.project
/.vscode/
/build/
/constraints-mxdev.txt
/coverage/
/dist/
/node_modules/
/package-lock.json
/pnpm-lock.yaml
/requirements-mxdev.txt
/sources/
/src/cone.calendar.egg-info/
/var/
/venv/
