/* contextmenu */
.calendar-contextmenu-wrapper {
    position:absolute;
    z-index:1000;
    top:0;
    left:0;
    width:100%;
}
.calendar-contextmenu {
    background-color:#fff;
    position:absolute;
    z-index:1000;

    li {
        padding-left:10px;
        cursor:pointer;

        &:hover {
            background-color:#ccc;
        }

        span {
            margin-right:10px;
        }
    }
}
